* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.titulo__header {
    font-family: Poppins;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.formulario {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.imagem{
    padding: 0;
    width: 288px;
    height: 212px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 8px;
    color: #959595;
    cursor: pointer;
}


.input__image {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

.placeholder__imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #959595;
    text-align: center;
    position: relative;
    top: 45%;
    left: 0%;
}

.form__texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.input__texto {
    width: 328px;
    height: 56px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 8px;
    color: #959595;
    text-align: justify;
    padding-left: 10px;
}

.input__descricao {
    width: 417px;
    height: 136px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 8px;
    color: #959595;
    text-align: justify;
    padding-left: 10px;
    padding-bottom: 20px;

}

.estilo__botao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 295px;
    width: 121px;
    height: 56px;
    border-radius: 13px;
    background: #FF5A5F;
    font-family: Poppins;
    font-weight:700;
    color: #ffff;
    border: 0;
}

.titulo__lista {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-family: Poppins;
}

.lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
}

h2 {
    font-family: Poppins;
}

.lista__item {
    display: flex;
    gap: 12px;
    background-color:#ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 576px;
    height: 212px;
    border-radius: 8px;
}

.lista__texto {
    display: flex;
    flex-direction: column;
    gap: 41px;
    padding-top: 29px;
}
